<nav class="navbar fixed-top-50 navbar-expand-lg bg-body-tertiary shadow-lg p-2 mb-2 bg-body-tertiary rounded-3" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
        <img src="static/k.jpg" alt="Bootstrap" width="50" height="50">
          </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><a href="/" class="link-primary">Home</a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><a href="/services" class="link-success ms-4">Services</a></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><a href="#" class="link-secondary ms-4">Products</a></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><a href="/technologies" class="link-danger ms-4">Technologies</a></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><a href="/verticals" class="link-warning ms-4">Verticals</a></a>
        </li>

        <li class="nav-item dropdown ms-4 mt-2">
          <a class="nav-link dropdown-toggle text-info" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true"><a href="#" class="link-secondary ms-4">Downloads</a></a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
